<MudDialog>
    <DialogContent Style="max-height: 60vh;overflow-y: scroll;">
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h2" Align="Align.Center">
                    Next Game: @(_hoursRemaining):@(_minutesRemaining):@(_secondsRemaining)
                </MudText>
            </MudItem>
            <MudItem xs="12">
                <MudTabs>
                    <MudTabPanel Text="Summary">
                        @for (var i = 0; i < Index.MaxAllowedAttempts; i++)
                        {
                            var localIndex = i;
                            <MudPaper Class="ma-2 pa-3 d-flex justify-space-between">
                                <strong>@(localIndex + 1)</strong>
                                <span>@_gameRecords.Count(q => q.NumberOfAttemptsRequired == (localIndex + 1))</span>
                            </MudPaper>
                        }
                    </MudTabPanel>
                    <MudTabPanel Text="By Day">
                        <MudStack>
                            @foreach (var record in _gameRecords)
                            {
                                <MudPaper Class="ma-2 pa-3" Elevation="2">
                                    <MudText Typo="Typo.h6">@record.Date.ToShortDateString() - @record.NumberOfAttemptsRequired Attempts</MudText>
                                    <MudProgressLinear Color="Color.Primary" Size="Size.Large" Value="@(record.NumberOfAttemptsRequired)" Min="0" Max="12" />
                                </MudPaper>
                            }
                        </MudStack>
                    </MudTabPanel>
                </MudTabs>
            </MudItem>
        </MudGrid>
    </DialogContent>
</MudDialog>


