@page "/"

<style>
    .unset-container .country-name {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .country-name {
        text-align: center;
        color: white;
    }

    .assigned-countries-container .mud-timeline-item-dot.mud-timeline-dot-size-small {
        width: 12px!important;
        height: 12px!important;
    }
</style>

<MudDropContainer T="DropItem" Items="_items" ItemsSelector="@((item,dropzone) => item.Identifier == dropzone)"
                  ItemDropped="ItemUpdated" @ref="_dropContainerReference" ItemIsDisabled="q => IsTodaysGameSolved">
    <ChildContent>
        <MudGrid Style="height: 100vh" Spacing="1">
            <MudItem xs="2" Style="justify-items:stretch;height:100%;" Class="d-flex flex-column justify-start">
                <MudTabs Class="rounded mud-background-gray mb-1" @ref="_tabsReference" Style="height: 80%;overflow-y:scroll;">
                    <MudTabPanel Text="Countries">
                        <MudDropZone T="DropItem" Identifier="@_unsetIdentifier" Class="unset-container pa-6">
                        </MudDropZone>
                    </MudTabPanel>
                    <MudTabPanel Text="Attempts">
                        <MudTimeline TimelinePosition="TimelinePosition.Left">
                            @for (var i = 0; i < _previousAttemptsToday.Count; i++)
                            {
                                var localIndex = i;
                                var isCorrect = _previousAttemptsToday[localIndex].All(q => q.IsCorrect);
                                var correctCount = _previousAttemptsToday[localIndex].Count(q => q.IsCorrect);
                                <MudTimelineItem Color="isCorrect ? Color.Success : Color.Error"
                                             Variant="Variant.Filled">
                                    <ItemContent>
                                        <MudAlert Severity="isCorrect ? Severity.Success : Severity.Error">
                                            @if (isCorrect)
                                            {
                                                <span>All @(NumberOfCountriesToGuess) countries picked correctly!</span>
                                            }
                                            @if (isCorrect is false)
                                            {
                                                <span>@(correctCount)/@(NumberOfCountriesToGuess) countries picked correctly.</span>
                                            }
                                        </MudAlert>
                                    </ItemContent>
                                </MudTimelineItem>
                            }
                        </MudTimeline>
                    </MudTabPanel>
                </MudTabs>

                <MudPaper Class="d-flex justify-space-between mb-2">
                    <MudIconButton Color="Color.Warning" Icon="@Icons.Filled.Block" OnClick="ResetAllItemsAsUnset" Variant="Variant.Filled" Disabled="IsTodaysGameSolved"></MudIconButton>
                    <MudIconButton Color="Color.Info" Icon="@Icons.Filled.QueryStats" OnClick="OpenDialog" Variant="Variant.Filled"></MudIconButton>
                    <MudIconButton Color="Color.Primary" Icon="@Icons.Filled.Help" OnClick="OpenHelpDialog" Variant="Variant.Filled"></MudIconButton>
                </MudPaper>
                <MudButton Color="Color.Success" OnClick="Submit" Variant="Variant.Filled" Disabled="IsSubmissionValid is false" EndIcon="@Icons.Filled.Done">Submit</MudButton>
            </MudItem>
            <MudItem xs="10" Style="height: 100%" Class="assigned-countries-container">
                <MudGrid Style="height: 100%" Spacing="1">
                    @for (var i = 0; i < _items.Count; i++)
                    {
                        var localParentIndex = i;
                        var country = _items.OrderBy(q => q.OrderIndex).ElementAt(localParentIndex);
                        <MudItem xs="4" Style="height: 33.33%">
                            <MudCard Style="height: 100%">
                                <MudDropZone T="DropItem" Identifier="@country.Country.Code"
                                         Class="flex-grow-1" Style="height: 100%;">
                                    <div style="height:calc(100% - 52px);background-color:white;border-color:dodgerblue;border-bottom-width:2px;"
                                     class="d-flex justify-space-between">
                                        <div style=@($"background-image: url(\"/countryimages/{country.Country.Code}.svg\");background-size:contain;background-repeat:no-repeat;background-position:center;width:50%;")
                                         class="pb-2"></div>
                                        <MudTimeline TimelinePosition="TimelinePosition.Left" Class="flex-grow-1" Style="padding-top:0px;overflow-y: scroll;">
                                            @for (var i = 0; i < _previousAttemptsToday.Count; i++)
                                            {
                                                var localIndex = i;
                                                var previousAttempt = _previousAttemptsToday[localIndex];
                                                var thisAttempt = previousAttempt.First(q => q.Identifier == country.Country.Code);
                                                var color = Color.Default;
                                                if ((localParentIndex + 1) <= _previousAttemptsToday.Count || IsTodaysGameSolved)
                                                {
                                                    color = thisAttempt.IsCorrect ? Color.Success : Color.Error;
                                                }
                                                <MudTimelineItem Variant="Variant.Filled" Color="color" Style="padding-bottom: 3px;color:black" Size="Size.Small">
                                                    <ItemContent>
                                                        @(thisAttempt.Country.Name.Length > 9 ? $"{thisAttempt.Country.Name.Substring(0, 9)}..." : thisAttempt.Country.Name)
                                                    </ItemContent>
                                                </MudTimelineItem>
                                            }
                                        </MudTimeline>
                                    </div>
                                </MudDropZone>
                            </MudCard>
                        </MudItem>
                    }
                </MudGrid>
            </MudItem>
        </MudGrid>
    </ChildContent>
    <ItemRenderer>
        <MudPaper Elevation="25" Class="pa-4 country-name" Style="@($"background-color:{(IsTodaysGameSolved ? "lightgreen": "dodgerblue")}")">@context.Country.Name</MudPaper>
    </ItemRenderer>
</MudDropContainer>